importFrom("grDevices", "colors", "heat.colors")
importFrom("grDevices", "col2rgb", "dev.off")
importFrom("graphics", "abline", "axis", "image", "legend", "lines", "mtext", "par", "pie", "plot", "points", "stripchart")
importFrom("stats", "cor", "median")
#importFrom("ReadMatrixRcpp" ,"readMatrixFromZip")
import(rJava, Cairo, pheatmap, methods)

# no separate test
export(initGeneReport)

#need individual test written
export(getExons_GeneSymbol_HG19)
export(getTranscripts_GeneSymbol_HG19)

# individual tests
export(filterForCommonSamples)
export(geneSymbolsForDataset)
export(geneSymbolsMatchDataset)
export(getColorsForDiseases)
export(getContrast)
export(getData_CombinedHsaMimat_miRNASeq)
export(getData_GeneSymbol_MutationDetails)
export(getData_GeneSymbol_Mutations)
export(getData_GeneSymbol_RnaSeq)
export(getData_GeneSymbol_RnaSeq2)
export(getData_GeneSymbol_SNP6)
export(getData_Probe_Meth27)
export(getData_Probe_Meth450)
export(getDataClinical)
export(getDataMatrix_GeneSymbol_Meth27)
export(getDataMatrix_GeneSymbol_Meth450)
export(getDataObject_CombinedHsaMimat_miRNASeq)
export(getDataObject_Probe_Meth27)
export(getDataObject_Probe_Meth450)
export(getDataObject_GeneSymbol_Mutations)
export(getDataObject_GeneSymbol_RnaSeq)
export(getDataObject_GeneSymbol_RnaSeq2)
export(getDataObject_GeneSymbol_SNP6)
export(getDataObject_GeneSymbol_Meth27)
export(getDataObject_GeneSymbol_Meth450)
export(getDataPlatform_CombinedHsaMimat_miRNASeq)
export(getDataPlatform_GeneSymbol_Mutations)
export(getDataPlatform_GeneSymbol_RnaSeq)
export(getDataPlatform_GeneSymbol_RnaSeq2)
export(getDataPlatform_GeneSymbol_SNP6)
export(getDataPlatform_Probe_Meth27)
export(getDataPlatform_Probe_Meth450)
export(getDataVersion)
export(getImputedNAs_CombinedHsaMimat_miRNASeq)
export(getImputedNAs_GeneSymbol_RnaSeq)
export(getImputedNAs_GeneSymbol_RnaSeq2)
export(getImputedNAs_GeneSymbol_SNP6)
export(getImputedNAs_Probe_Meth27)
export(getImputedNAs_Probe_Meth450)
export(getMetadata_Gene_HG18)
export(getMetadata_Gene_HG19)
export(getMetadata_Gene_Mutations)
export(getMetadata_Gene_RnaSeq)
export(getMetadata_Gene_RnaSeq2)
export(getMetadata_GeneByNeighbor_HG18)
export(getMetadata_GeneByNeighbor_HG19)
export(getMetadata_GeneByNeighbor_RnaSeq)
export(getMetadata_GeneByNeighbor_RnaSeq2)
export(getMetadata_Probe_Meth27)
export(getMetadata_Probe_Meth450)
export(getMetadata_ProbeByNeighbor_Meth27)
export(getMetadata_ProbeByNeighbor_Meth450)

export(getMetadataPop_BarcodeDisease)
export(getMetadataPop_BarcodeSamplecode)
export(getMetadataPop_PatientDisease)
export(getMirs_List_Mimat)
export(getMirs_List_Mir)
export(getMirs_Metadata_Mimat)
export(getMirs_Metadata_Mir)
export(getMutationDetails_Dataframe)
export(getNames_CombinedHsaMimat_miRNASeq)
export(getNames_GeneSymbol_Meth27)
export(getNames_GeneSymbol_Meth450)
export(getNames_GeneSymbol_Mutations)
export(getNames_GeneSymbol_RnaSeq)
export(getNames_GeneSymbol_RnaSeq2)
export(getNames_GeneSymbol_SNP6)
export(getNames_Mutation_Details)
export(getNames_Probe_Meth27)
export(getNames_Probe_Meth450)
export(getNames_ProbeFromGeneSymbol_Meth27)
export(getNames_ProbeFromGeneSymbol_Meth450)
export(getOneToOne_GeneSymbol_List)
export(getOneToOne_GeneSymbol_UCID)
export(getOneToOne_UCID_GeneSymbol)
export(getOneToOne_UCSC_List)
export(getSynonyms)
export(plot_CombinedHsaMimat_miRNASeq)
export(plot_GeneSymbol_Mutations)
export(plot_GeneSymbol_RnaSeq)
export(plot_GeneSymbol_RnaSeq2)
export(plot_GeneSymbol_SNP6)
export(plot_GeneSymbol_Meth450)
export(plot_GeneSymbol_Meth27)
export(plot_Probe_Meth450)
export(plot_Probe_Meth27)
export(plotAssays)
export(plotGenericOutput)
export(plotHeatmapOutput)

################################################################################

export(loadDataObject)
export(get.Name)
export(get.Chromosome)
export(get.ProbeLocation)
export(get.Strand)
export(get.GeneStructure)
export(get.Data)
export(get.SampleAnnotations)
export(get.GenomeAnnotations)
export(get.TissueAnnotations)
export(get.GeneSymbol)
export(get.GeneId)
export(get.VersionIndex)
export(get.LocationStart)
export(get.LocationEnd)
export(get.DerivedFrom)
export(get.MimatId)
export(get.MirId)
export(get.MirType)

#### used for testing
export(getBaseDir)
export(getZipDir)
